body{
  background-color: rgb(215, 227, 155);
}
.App {
  text-align: center;
}

.App form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  font-style: oblique;
}
.App form input{
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  font-style: italic;
}
.App form button{
  width: 100px;
  border-radius: 4px;
  font-weight: bold;
  height: 30px;
}
.Recipe img{
   border-radius: 5px;
}






